{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h5 class="my-3 border-bottom pb-2">검색할 영화의 이름을 입력해주세요</h5>
  <form method="post" classs="post-form my-3">

    {% for field,errors in form.errors.items() %}
    <div class="alert alert-danger" role="alert">
      <strong>{{ form[field].label }}</strong> : {{ ','.join(errors) }}ses
    </div>
    {% endfor %}

    {{ form.csrf_token }}   <!-- 폼 쓸때 무조건 있어야한다 -->
    {{ form.search.label }}
    {{ form.search(class="form-control") }}

    <button type="submit" class="btn btn-primary">검색하기</button>
  </form>
</div>

{% if  movieinfo_list %}
<div class="container my-3">
        <table class="table table-hover">
            <thead>
            <tr class="thead-dark">
                <th style="width:6%">번호</th>
                <th style="width:30%">제목</th>
                 <th>표지</th>
                <th>평점</th>
                <th>출시</th>
                <th>감독</th>
                <th>배우</th>
            </tr>
            </thead>
            <tbody>
                 <!-- bookinfo_list:리스트 형태 -->
                 {% for movie in movieinfo_list %}
                  <tr>
                      <td> {{ loop.index }}</td>
                      <td> {{ movie.title|safe }}</td>
                      <td> <img src="{{movie.image}}" height="100" width="75"></td>
                      <td> {{ movie.userRating }}</td>
                      <td> {{ movie.pubDate }}</td>
                      <td> {{ movie.director }}</td>
                      <td> {{ movie.actor }}</td>
                  </tr>

                 {% endfor %}
            </tbody>
        </table>

</div>

{% endif %}

{% endblock %}